/* Color Palette 
    green: rgb(0,180,199);
    lightgrey: rgb(180,180,180);
    darkgrey: rgb(100,99,99);
    black: rgb(0,0,0);
    text: rgb(135, 135, 135);
*/

/* Styles */
h1, h2, h3, h4, h5, h6 {
    color: rgb(0,180,199);
    font-family: 'Signika', sans-serif;
}

/* NavBar */

.extra-header {
    display: none;
}

#phone-button {
    position: fixed;
    text-align: center;
    top: 75px;
    right: 30px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 5;
    box-shadow: 5px 5px 5px grey;
}

#phone-button .fa-phone-square-alt {
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    color:rgb(0, 180, 199);
}

/* NEW HEADER - DELETE LATER */

#role-btn {
    position: absolute;
    top: 250px;
    left: 20%;
    background-color: white;
    color:rgb(0, 180, 199);
    padding: 1%;
}

#hiring-btn {
    position: absolute;
    top: 250px;
    right: 20%;
    background-color: white;
    color:rgb(0, 180, 199);
    padding: 1%;
}

#hiring-btn:hover, #role-btn:hover {
    color: white;
    background-color:rgb(0, 180, 199);
    border: 3px solid white;
}



/* Header */
#home-header {
    background-image: url('img/banner-main.jpg');
    background-size: cover;
    background-position: center;
    padding: 4% 4% 1.5% 4%;
}

#home-header .row {
    margin: 0;
}

#header-content {
    margin: auto;
    text-align: center;
    height: 350px;
}

#header-buttons {
    margin: auto;
}

/* Nav */
nav img {
    width: 100px;
    padding-top: 5px;
    float: left;
}

/* Intro Section */
#intro {
    /* background-color:hsl(0, 0%, 89%); */
    background-color: rgb(243, 246, 247);
}

#intro [class*="col-"] {
    padding: 3% 8%;
}


#intro img {
    margin: auto;
    padding-top: 15%;
    width: 100%;
}

/* Candidate Section */
#candidate {
    text-align: center;
    margin: 3% 0;
}

#candidate h1 {
    padding: 10px;
    background-color: rgb(0,180,199);
    text-align: center;
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* CANDIDATE FIGURES */

[class*="hvr-"] { /* short cut to allow all classes that have this at start */
    float: left;
    position: relative;
    overflow: hidden;
    width: 100%;
}
/*soft overlay*/
.overlay {
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 width: 100%;
 opacity: 0; /* Add the next two after hover set up - 1. Makes it disappear */
 transition: .5s ease;  /*transition*/
 /* background-color: rgb(0,180,199); */
 background-color:rgb(180, 180, 180);
 padding: 15% 10%;
 text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.overlay h1 {
    color: white;
} 

.overlay p {
  color: white;
  font-size: 15px;
}
.hvr-overlay:hover .overlay{
    opacity: 1;
}

.hvr-overlay img {
    width: 100%;
    background-color: rgb(0, 179, 199);
    /* opacity: 0.8; */
}

/* Jobs */
#jobs {
    background-color: #00b3c7c5;
    color: rgb(255, 255, 255);
    padding: 2% 0;
}

#jobs h2 {
    color: white;
    font-weight: bold;
}

.job-img {
    padding-right: 10%;
    float: right;
}

.jobs-content {
    padding-left: 10%;
}

/* Testimonials */
#testimonials {
    background-color: rgb(180, 180, 180);
    padding: 10px;
}

#testimonials h2 {
    margin-top: 2%;
}

#testimonials h2, #testimonials h5 {
    color: white;
    text-align: center;
}

#testimonials p {
    color: rgb(100,99,99);
}

#testimonials .col-3 {
    text-align: center;
}

#testimonials i {
    font-size: .75em;
}

.carousel-item {
    padding: 80px;
    background-color: rgb(180, 180, 180);
}

/* footer */


footer {
    background-color: rgb(0,180,199);
    padding: 50px 10px 10px 10px;
    color: white;
}

footer i {
    font-size: 30px;
    color: white;
}

footer a {
    color: white;
}

footer h3, footer h4 {
    color: white;
}

#footer-copy {
    text-align: right;
    color: white;
    background-color: #00b3c7a2;;
    margin: 30px 0 0 0;
}

footer img {
    width: 30%;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    margin: 5% 10%;
}

.footer_contact {
    margin-bottom: 10px;
}

#site-map a {
    display: block;
}

#phone {
    font-size: 1.2em;
}

.border-bottom {
    border-bottom: 1px lightgrey solid;
    padding-bottom: 5%;
}

.fa-envelope {
    margin-right: 2px;
    margin-top: 5px;
}

/* JOBS */

.card h2 {
    color: black;
}

.btn-link:hover {
    text-decoration: none;
}

.card:hover {
    color: red;
}

.card p {
    color: rgb(56, 56, 56);
}

/* SUBPAGES */

.sub-headers {
    background-color: rgb(0,180,199);
    height: 250px;
}

.sub-headers h1 {
    color: white;
    font-size: 4em;
    padding-top: 5%;
    text-align: center;
}

.sub-headers {
    box-shadow: 0 -3px 10px -6px #505050;
}

.sub-main {
    padding: 20px;
}

#sub-intro {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ABOUT PAGE */
.about-main {
    padding: 5%;
    text-align: center;
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: center;
}

.about-main h2, .about-main h3 {
    color: white;
}

.about-main .container {
    background-color: rgb(0, 179, 199);
    padding: 0 10px;
}

.about-main .col-lg-6 {
    display: flex;
    align-items: center;
    min-height: 400px;
}

.about-main p {
    color: #ffffff;
}

.block {
    background-size: cover;
    background-position: center;
    height: 400px;
}

#block-1 {
    background-image: url('img/stock/stock1.jpg');
}

#block-2 {
    background-image: url('img/stock/stock2.jpg');
}

#block-3 {
    background-image: url('img/stock/stock3.jpg');
}

#block-4 {
    background-image: url('img/leonmorley.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: grey;
}


.about-content {
    padding: 10%;
}


.about-main img {
    width: 100%;
}

td svg {
    margin: 40px;
}

/* MEDIA PAGE */
#media-content {
    margin: 5%;
    text-align: center;
}

#media-content h5 {
    color: rgb(100,99,99);
}

#media-content i {
    font-size: 20em;
    color:rgb(0, 180, 199);
}



/* JOBS PAGE */
.jobs_title {
    text-align: center;
    font-size: 2.5em;
}

.card {
    margin-bottom: 2%;
    border: none;
}

.card-body {
    background-color: rgba(0,0,0,.03);
}

.card:visited {
    text-decoration: none;
}

.jobs_expand {
    color: rgb(0,180,199);
}

.btn-link.focus, .btn-link:focus {
    text-decoration: none;
}


/* Client-Page */

.clients_page {
    margin: 2% 5% 0% 5%;
}

#checklist {
    width: 80%;
    margin: 5% auto;
}

#checklist .left {
    padding-right: 5%;
}

#checklist i {
    font-size: 3em;
    color:rgb(0, 180, 199);
}

#checklist td {
    padding: 1.5%;
}

#client_testimonials, #clients_button {
    padding: 2% 0% 5% 0%;
    text-align: center;
}

#client_testimonials h3 {
    padding-bottom: 2%;
}

#client_testimonials {
    background-image: url('img/background.jpg');
}

#client_testimonials .reviews .col-lg-4, #client_testimonials-3 {
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 350px;
}

#client_testimonials-1 {
    background-color: white;
}

#client_testimonials-2 {
    background-color: rgb(219, 219, 219);
}

#client_testimonials-3 {
    background-color: rgb(180, 179, 179);
}

#client_testimonials h4, #client_testimonials h3  {
    font-size: 2em;
}

#clients_button a {
    padding: 2%;
}

.review {
    color: rgb(100,99,99);
    font-weight: bold;
    font-size: 1.25em;
}

#no-jobs {
    text-align: center;
    margin-bottom: 100px;
}

.extra-buttons {
    display: none;
}

#toggle, label {  /*For HBM */
    display: none;
}

/************************************************
* MEDIA QUERIES 
*************************************************/  

/* Tablet */

@media only screen and (max-width: 998px) {
    body {
        margin-top: 0;
    }
    
    nav img, nav span, #jobs img, footer img, #client_testimonials-3
    {
        display: none;
    }

    .extra-header {
        display: block;
        padding-top: 10px;
        text-align: center;
    }

    .extra-header p {
        color: white;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        margin-bottom: 0;
    }

    nav ul, .sub-headers nav ul {
        float: none;
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding-top: 10px;
    }

    nav a {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 20px;
    }

    /* phone button */
    #phone-button {
        top: 90px;
        right: 15px;
    }

    /* Intro */
    #intro, #jobs, footer .col-md-6, #footer-copy {
        text-align: center;
    }

    #intro h1 {
        font-size: 1.75em;
    }

    #intro .col-4 {
        display: none;
    }

    #role-btn {
        top: 230px;
        left: 3%;
    }

    #hiring-btn {
        top: 230px;
        right: 3%;
    }

    /* testimonials */

    #testimonials h2 {
        font-size: 1.5em;
    }

    #testimonials h4 {
        font-size: 1.25em;
    }

    .jobs-content {
        padding-left: 0;
    }

    /* About Page */
    .sub-headers {
        height: 150px;
    }

    .sub-headers ul {
        padding-left: 0;
    }

    .sub-headers h1 {
        padding-top: 2%;
    }

    .about-main {
        padding: 2%;
    }

    /* client and candidate */
    #client_testimonials .col-md-6 {
        padding: 5%;
        min-height: 250px;
        display: flex;
        align-items: center;
    }

    #client_testimonials h3 {
        font-size: 1.5em;
    }

    #client_testimonials .review {
        font-size: 1em;
    }

    /* Jobs */

    .btn-cv {
        margin-bottom: 40px;
    }

}

/* Phone */

@media only screen and (min-width: 499px) and (max-width: 775px) {
    #phone-button, #role-btn, #hiring-btn, .block, #block-1, #block-2, #block-3, #block-4, #client_testimonials, #testimonials {
        display: none;
    }

    .extra-buttons {
        display: flex;
        align-items: stretch;
    }

    .mob-head-btn {
        background-color:rgb(0, 180, 199);
        color: white;
        width: 50%;
        padding: 8px;
        border: 1px solid white;
    }

    #intro h1 {
        font-size: 1.25em;
    }

    nav a {
        font-size: 18px;
        padding-top: 20px;
    }

    #testimonials h5 {
        font-size: .5em;
        color: white;
    }

    .about-content {
        border-bottom: 1px solid white;
        margin: 5px 0;
    }

    .jobcaption {
        text-align: center;
    }

}

@media only screen and (max-width: 600px) {
    [class*="col-"] {
        width: 100%;
    }

    #phone-button, #role-btn, #hiring-btn, .block, #block-1, #block-2, #block-3, #block-4, #client_testimonials, #testimonials, #site-map, footer svg, #checklist .left {
        display: none;
    }

    .extra-buttons {
        display: flex;
        align-items: stretch;
    }

    /* Nav */

    nav .container {
        padding: 0;
        margin: 0;
    }

    nav ul, nav li {
        float: none;
    }

    nav ul {
        display: block;
        margin-top: .25em;
        padding-inline-start: 0px;
        margin-block-end: .25em;
        margin-bottom: 0;
        margin-top: 0;
    }

    nav li:nth-child(odd) {
        background-color:rgb(2, 190, 211);
    }

    nav li {
        text-align: center; 
              
    }

    nav a {
        font-size: 1em;
        padding: 5px;
    }

    /* Header */

    .mob-head-btn {
        background-color:rgb(0, 180, 199);
        color: white;
        width: 50%;
        padding: 8px;
        border: 1px solid white;
    }

    #header-content {
        height: 200px;
        position: relative;
    }

    /* Intro */

    #intro h1, #jobs h2, #candidate h1, footer h3, footer h4  {
        font-size: 1.25em;
    }

    #intro [class*="col-"], #jobs [class*="col-"] {
    padding: 2% 4%;
}

    p, .btn-primarys, footer a {
        font-size: 1em;
    }

    #candidate p {
        font-size: 1em;
    }

    footer {
        padding: 10px;
    }

    #footer-copy {
        margin-top: 10px;
        border-top: 1px solid white;
    }

     label {
        display: block;
        cursor: pointer;
        width: 100px;
        margin: 0 auto;
        padding: 5px;
        text-align: center;
        color: white;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        clear: right;
        display: block;
        border-bottom: #eaeaeb;
        margin: 0;
    }

    #toggle:checked + .menu{
        display: block;
    }

    .sub-headers {
        height: 100px;
    }

    /* About us */
    .block {
        border-bottom: 1px solid white;
    }

    .about-content {
        padding: 0px;
        border-bottom: none;
    }

    .about-main .col-lg-6 {
        min-height: 200px;
        padding: 20px;
        border-bottom: 1px solid white;
    }

    /* Client/Candidate Page */
    #checklist tr:nth-child(odd) {
        background-color: rgb(0, 180, 199);
        color: white;
    }

    #checklist tr:nth-child(even) {
        color: rgb(0, 180, 199);
        background-color: white;
        border: 1px solid rgb(0, 180, 199);
    }

    #checklist td {
        padding: 10px;
    }

    #checklist {
        margin: 0 0 10px 0;
        width: 100%;
        text-align: center;
    }

    .btn-cv {
        margin: 0;
    }

    .jobcaption {
        text-align: center;
    }

    #privacy-policy {
        font-size: 3.5em;
    }



}

/* Floating buttons */
@media only screen and (min-width: 999px) and (max-width: 1330px) {
    #role-btn {
        left: 10%;
    }

    #hiring-btn {
        right: 10%;
    }
}



/* Extra Large Screens */

@media only screen and (min-width: 1800px) {
  #header-content {
    height: 450px;
  }

  #role-btn {
    top: 300px;
}

#hiring-btn {
    top: 300px;
}



}
